@import './mixins';

.navbar {
  background-color: white;

  width: 100%;
  min-height: 60px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  padding: 1.5rem 8%;

  z-index: 1;

  @include mobile {
    background-color: rgb(247, 237, 152);
    flex-direction: column;
  }
  
  .nav-interactions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      width: 100%;
    }
  }

  .title {
    width: 100%;
    font-size: clamp(1.2rem, 5vw, 1.4rem);
    text-transform: uppercase;
    letter-spacing: 0.35rem;
  }

  .nav-icon {
    display: none;

    @include mobile {
      width: 20px;
      display: block;
      cursor: pointer;
    }
  }

  .link-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;

    padding-left: 1rem; 

    list-style: none;

    @include mobile {
      display: none;
      flex-direction: column;
    }

    .nav-link {
      color: rgb(146, 142, 142);
      font-size: clamp(0.95rem, 5vw, 1.05rem);
    
      text-align: center;
    
      margin: 0 0.5rem;
    
      cursor: pointer;
    
      transition: color 0.15s;
    
      &:hover {
        color: rgb(87, 85, 85);
      }
    }
  }
}

.navbar.mobile {
  .nav-interactions {
    @include mobile {
      margin-bottom: 1.5rem;
    }
  }

  .nav-icon {
    @include mobile {
      width: 20px;
      display: block;
    }
  }

  .link-container {
    @include mobile {
      width: 100%;
      display: flex;
      align-items: flex-start;

      padding: 0;
    }

    .nav-link {
      @include mobile {
        display: flex;
        justify-content: flex-start;

        color: black;

        margin: 0.6rem 0;

        &:hover {
          color: rgb(41, 40, 40);
        }
      }
    }
  }
}

