@import './mixins';

.slider {
  max-width: 450px;
  width: 100%;

  min-height: 350px;
  height: 380px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  overflow: hidden;
}

.slider-content {
  display: flex;

  width: 100vw;
  height: 90%;

  transform: translateX(-0px);
  transition: transform ease-out 0.45s;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  object-position: 50% 50%;

  width: 100%;
  height: 100%;
}

.arrow-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1rem 0;
}

.arrow {
  width: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0.5rem;

  transition: transform ease-in 0.1s;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 30px;
  }
}